<nav
  class="w-full h-18 flex items-center justify-between py-2 px-2 lg:px-6 bg-transparent transition-colors duration-500 ease-in-out backdrop-blur-xs top-0 sticky z-50"
  id="navbar"
>
  <!-- Left Section -->
  <div class="flex w-3/4 lg:w-1/3 h-full justify-start items-center gap-4">
    <span
      class="pi pi-bars text-mugen-white cursor-pointer !font-semibold !text-xl"
      (click)="triggerMenu()"
    ></span>
    <div class="flex flex-row lg:hidden gap-2 items-center">
      <img src="logo.png" alt="logo" class="size-12" />
      <a
        routerLink="/"
        class="hidden lg:flex text-3xl font-semibold font-osake"
      >
        <span
          class="text-mugen-w @HostListener('window:scroll', ['$event']) onWindowScroll() { const navbar = document.getElementById('navbar'); // Check if scroll is greater than 50px if (window.scrollY > 50) { this.renderer.removeClass(navbar, 'bg-transparent'); this.renderer.addClass(navbar, 'bg-gray-800'); // Change this to any color you prefer } else { this.renderer.removeClass(navbar, 'bg-gray-800'); this.renderer.addClass(navbar, 'bg-transparent'); } }hite"
          >MUGEN</span
        >
        <span class="text-mugen-red">KAI</span>
      </a>
    </div>
  </div>

  <!-- Center Section -->
  <div
    class="hidden w-0 lg:flex lg:w-1/3 h-full justify-center items-center gap-4"
  >
    <a routerLink="/" class="flex justify-center items-center gap-2">
      <img src="logo.png" alt="logo" class="size-14" />
      <div class="text-4xl font-osake font-semibold pt-2">
        <span class="text-mugen-white">MUGEN</span>
        <span class="text-mugen-red">KAI</span>
      </div>
    </a>
  </div>

  <!-- Right Section -->
  <div class="flex w-3/4 lg:w-1/3 h-full justify-end items-center gap-2">
    <div
      class="relative group size-10 hover:w-64 focus-within:w-64 transition-all duration-300"
    >
      <input
        type="text"
        placeholder="Search"
        class="w-full pl-10 py-2 hover:bg-mugen-white focus-within:bg-mugen-white hover:text-gray-500 focus-within:text-gray-500 text-white rounded-lg focus:outline-none"
      />
      <span
        class="pi pi-search absolute left-[10px] top-[6px] !text-xl group-hover:text-gray-500 group-focus-within:text-gray-500 text-gray-300 pointer-events-none"
      >
      </span>
    </div>
    @if (!isLoggedIn){
    <div class="flex gap-4 items-center">
      <div
        class="relative inline-block cursor-pointer !text-gray-300 hover:!text-mugen-white transition-all duration-150 ease-in-out"
      >
        <i class="pi pi-bell !text-xl"></i>
        <p-badge
          class="absolute -top-0.5 -right-0.5 !size-1.5 !min-w-1.5 !bg-mugen-red"
        ></p-badge>
      </div>
      <i
        class="pi pi-user !text-xl cursor-pointer !text-gray-300 hover:!text-mugen-white transition-all duration-150 ease-in-out"
      ></i>
    </div>
    }@else{
    <button
      class="text-sm px-4 min-w-20 h-10 shadow-md hover:bg-mugen-red-hover bg-mugen-red text-mugen-white transition-all duration-300 ease-in-out rounded-lg cursor-pointer"
    >
      Sign in
    </button>
    }
  </div>
</nav>
