<nav
  class="w-full h-16 flex items-center justify-between px-6 bg-transparent backdrop-blur-xs sticky top-1 z-50"
>
  <!-- Left Section -->
  <div class="flex w-1/4 h-full justify-start items-center gap-4">
    <span
      class="pi pi-bars text-mugen-white cursor-pointer !font-semibold !text-xl"
      (click)="triggerMenu()"
    ></span>
    <div class="flex flex-row gap-2 items-center">
      <img src="logo.png" alt="logo" class="size-14" />
      <a routerLink="/" class="text-2xl font-semibold font-osake">
        <span class="text-mugen-white">MUGEN</span>
        <span class="text-mugen-red">KAI</span>
      </a>
    </div>
  </div>

  <!-- Center Search -->
  <div class="flex-1 w-1/2 h-full justify-center items-center hidden lg:flex">
    <div class="relative w-1/2">
      <input
        type="search"
        id="search"
        class="block w-full px-4 h-10 text-sm text-gray-600 border border-gray-300 rounded-lg bg-gray-50"
        placeholder="Search"
        required
      />
      <button class="absolute end-18 bottom-0 h-10 cursor-pointer">
        <span class="pi pi-search text-gray-600 !text-lg"></span>
      </button>
      <button
        class="text-white absolute end-1.5 bottom-1 bg-[#0077b6] hover:bg-[#023e8a] transition-all duration-200 ease-in-out focus:outline-none font-medium rounded-lg text-xs px-4 py-2 cursor-pointer"
      >
        Filter
      </button>
    </div>
  </div>

  <!-- Right Section -->
  <div class="flex w-1/4 h-full justify-end items-center">
    <button
      class="flex lg:hidden w-10 h-10 items-center justify-center cursor-pointer"
    >
      <span class="pi pi-search text-gray-200"></span>
    </button>
    @if (!isLoggedIn){
    <div class="relative">
      <img
        src="https://github.com/shadcn.png"
        class="w-10 h-10 rounded-full cursor-pointer"
      />
    </div>
    }@else{
    <button
      class="text-sm px-4 h-10 shadow-md text-gray-700 hover:bg-gray-200 transition-all duration-200 ease-in-out bg-white rounded-lg cursor-pointer"
    >
      Sign in
    </button>
    }
  </div>
</nav>
