<div
  class="absolute top-0 left-0 w-full h-[100vh] bg-black/40 flex items-center justify-center"
>
  <div
    class="w-full relative max-w-lg bg-mugen-dark-blue text-white border border-gray-600 rounded-lg shadow p-16"
  >
    <div class="absolute top-4 right-5.5 cursor-pointer" (click)="closeModal()">
      <span class="pi pi-times !text-xs text-gray-200"></span>
    </div>
    <div
      class="flex flex-row gap-2 cursor-pointer select-none items-center justify-center mb-8"
    >
      <img src="logo.png" alt="logo" class="size-16" />
      <a routerLink="/" class="flex text-4xl font-semibold font-osake">
        <span class="text-mugen-white">MUGEN</span>
        <span class="text-mugen-red">KAI</span>
      </a>
    </div>
    <div class="flex w-full justify-center items-center my-10">
      <h1>Coming soon!</h1>
    </div>
    <div class="flex flex-col gap-y-1.5 justify-between items-center">
      <div
        class="underline cursor-pointer text-xs text-gray-200"
        (click)="goToLogin()"
      >
        Continue to <span> Login </span>
      </div>
    </div>
  </div>
</div>
