<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-col h-full !bg-[#213448]">
      <div class="flex items-center justify-between px-6 my-4 shrink-0">
        <div class="flex flex-row gap-2 items-center cursor-pointer">
          <img src="logo.png" alt="logo" class="size-14" />
          <a routerLink="/" class="text-2xl font-semibold font-['osake']">
            <span class="text-white">MUGEN</span>
            <span class="text-mugen-red">KAI</span>
          </a>
        </div>
        <span>
          <button
            type="button"
            (click)="closeCallback($event)"
            class="bg-transparent cursor-pointer"
          >
            <i class="pi pi-times !text-sm"></i>
          </button>
        </span>
      </div>
      <div class="flex flex-col gap-y-2 p-4">
        <div
          class="flex flex-row gap-4 text-xl px-4 py-2 rounded-lg cursor-pointer text-mugen-white hover:bg-mugen-gray transition-color duration-150 ease-in-out"
        >
          <i class="pi pi-home !text-xl"></i>
          <span> Home </span>
        </div>
        <div
          class="flex flex-row gap-4 text-xl px-4 py-2 rounded-lg cursor-pointer text-mugen-white hover:bg-mugen-gray transition-color duration-150 ease-in-out"
        >
          <i class="pi pi-star !text-xl"></i>
          <span> Favourites </span>
        </div>
        <div
          class="flex flex-row gap-4 text-xl px-4 py-2 rounded-lg cursor-pointer text-mugen-white hover:bg-mugen-gray transition-color duration-150 ease-in-out"
        >
          <i class="pi pi-video !text-xl"></i>
          <span> Anime </span>
        </div>
        <div
          class="flex flex-row gap-4 text-xl px-4 py-2 rounded-lg cursor-pointer text-mugen-white hover:bg-mugen-gray transition-color duration-150 ease-in-out"
        >
          <i class="pi pi-book !text-xl"></i>
          <span> Manga </span>
        </div>
      </div>
      <div class="mt-auto">
        <a
          class="m-4 flex items-center cursor-pointer p-4 gap-3 rounded-lg hover:bg-mugen-gray duration-150 transition-colors ease-in-out"
        >
          <p-avatar image="https://github.com/shadcn.png" shape="circle" />
          <span class="font-bold">John Doe</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-drawer>
