<div
  class="absolute top-0 left-0 w-full h-[100vh] bg-black/40 flex items-center justify-center"
>
  <div
    class="w-full relative max-w-lg bg-mugen-dark-blue text-white border border-gray-600 rounded-lg shadow p-16"
  >
    <div class="absolute top-4 right-5.5 cursor-pointer" (click)="closeModal()">
      <span class="pi pi-times !text-xs text-gray-200"></span>
    </div>
    <div
      class="flex flex-row gap-2 cursor-pointer select-none items-center justify-center mb-8"
    >
      <img src="logo.png" alt="logo" class="size-16" />
      <a routerLink="/" class="flex text-4xl font-semibold font-osake">
        <span class="text-mugen-white">MUGEN</span>
        <span class="text-mugen-red">KAI</span>
      </a>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
      class="w-full space-y-4"
    >
      <div class="relative group">
        <input
          type="text"
          formControlName="username"
          id="username"
          placeholder=" "
          class="peer block appearance-none w-full border-gray-600 focus:border-gray-400 h-12 px-4 pt-3 text-sm border text-gray-300 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
          }"
        />
        <label
          for="username"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Username
        </label>
        <div
          *ngIf="
            loginForm.get('username')?.touched &&
            loginForm.get('username')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div *ngIf="loginForm.get('username')?.errors?.['required']">
            Username is required.
          </div>
        </div>
      </div>
      <div class="relative group">
        <input
          type="password"
          formControlName="password"
          id="password"
          placeholder=" "
          class="peer block appearance-none border-gray-600 focus:border-gray-400 w-full h-12 px-4 pt-3 text-sm border text-gray-200 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
          }"
        />
        <label
          for="password"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Password
        </label>
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="w-full h-12 py-2 rounded-lg cursor-pointer text-white font-semibold hover:bg-mugen-red-hover bg-mugen-red duration-300 transition-colors ease-in-out"
      >
        Login
      </button>
      <div class="flex flex-col gap-y-1.5 justify-between items-center">
        <div
          class="underline cursor-pointer text-xs text-gray-200"
          (click)="goToForgot()"
        >
          Forgot password?
        </div>
        <div class="flex items-center text-gray-300 w-full">
          <div class="flex-grow border-t border-gray-600"></div>
          <span class="mx-2 text-sm font-medium">OR</span>
          <div class="flex-grow border-t border-gray-600"></div>
        </div>
        <div class="text-xs text-gray-300">
          Don't have an account?
          <span
            class="underline cursor-pointer text-gray-200"
            (click)="goToRegister()"
          >
            Sign up
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
