<div
  class="absolute top-0 left-0 w-full h-[100vh] bg-black/40 flex items-center justify-center"
>
  <div
    class="w-full relative max-w-lg bg-mugen-dark-blue text-white border border-gray-600 rounded-lg shadow p-16"
  >
    <div class="absolute top-4 right-5.5 cursor-pointer" (click)="closeModal()">
      <span class="pi pi-times !text-xs text-gray-200"></span>
    </div>
    <div
      class="flex flex-row gap-2 cursor-pointer select-none items-center justify-center mb-8"
    >
      <img src="logo.png" alt="logo" class="size-16" />
      <a routerLink="/" class="flex text-4xl font-semibold font-osake">
        <span class="text-mugen-white">MUGEN</span>
        <span class="text-mugen-red">KAI</span>
      </a>
    </div>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="submit()"
      class="w-full space-y-4"
    >
      <div class="relative group">
        <input
          type="text"
          formControlName="username"
          id="username"
          placeholder=" "
          class="peer block appearance-none w-full border-gray-600 focus:border-gray-400 h-12 px-4 pt-3 text-sm border text-gray-300 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
          }"
        />
        <label
          for="username"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Username
        </label>
        <div
          *ngIf="
            registerForm.get('username')?.touched &&
            registerForm.get('username')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div *ngIf="registerForm.get('username')?.errors?.['required']">
            Username is required.
          </div>
          <div *ngIf="registerForm.get('username')?.errors?.['minlength']">
            Username must be at least 4 characters.
          </div>
          <div *ngIf="registerForm.get('username')?.errors?.['maxlength']">
            Username must be at most 20 characters.
          </div>
        </div>
      </div>
      <div class="relative group">
        <input
          type="text"
          formControlName="email"
          id="email"
          placeholder=" "
          class="peer block appearance-none w-full border-gray-600 focus:border-gray-400 h-12 px-4 pt-3 text-sm border text-gray-300 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
          }"
        />
        <label
          for="email"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Email
        </label>
        <div
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div *ngIf="registerForm.get('email')?.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">
            Email not valid.
          </div>
        </div>
      </div>
      <div class="relative group">
        <input
          type="password"
          formControlName="password"
          id="password"
          placeholder=" "
          class="peer block appearance-none border-gray-600 focus:border-gray-400 w-full h-12 px-4 pt-3 text-sm border text-gray-200 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
          }"
        />
        <label
          for="password"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Password
        </label>
        <div
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div *ngIf="registerForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
            At least 8 characters with one uppercase letter.
          </div>
        </div>
      </div>
      <div class="relative group">
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirmPassword"
          placeholder=" "
          class="peer block appearance-none border-gray-600 focus:border-gray-400 w-full h-12 px-4 pt-3 text-sm border text-gray-200 placeholder-gray-400 rounded-lg focus:outline-none transition-colors duration-300 ease-in-out"
          [ngClass]="{
            'border-mugen-red focus:border-mugen-red':
              registerForm.get('confirmPassword')?.invalid &&
              registerForm.get('confirmPassword')?.touched
          }"
        />
        <label
          for="confirmPassword"
          class="absolute pointer-events-none top-[14px] left-4 text-sm origin-[0] scale-100 transform text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-80 peer-not-placeholder-shown:-translate-y-3 peer-not-placeholder-shown:scale-80"
        >
          Confirm Password
        </label>
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.touched &&
            registerForm.get('confirmPassword')?.invalid
          "
          class="text-mugen-red text-xs m-1"
        >
          <div
            *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
          >
            Password is required.
          </div>
          <div
            *ngIf="
              registerForm.get('confirmPassword')?.touched &&
              registerForm.get('confirmPassword')?.hasError('passwordMismatch')
            "
            class="text-mugen-red text-xs mt-1"
          >
            Passwords do not match.
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="w-full h-11 py-2 rounded-lg cursor-pointer text-white font-semibold hover:bg-mugen-red-hover bg-mugen-red duration-300 transition-colors ease-in-out"
      >
        Register
      </button>
      <div class="flex flex-col gap-y-1.5 justify-between items-center">
        <div class="text-xs text-gray-300">
          Already have an account?
          <span
            class="underline cursor-pointer text-gray-200"
            (click)="goToLogin()"
          >
            Login
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
