@import "tailwindcss";

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Osake";
  src: url("assets/fonts/osake/Osake.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-osake: "Osake", "sans-serif";
  --color-mugen-red: #d94025;
  --color-mugen-red-hover: #d92b25;
  --color-mugen-white: #fcfcfb;
  --color-mugen-gray: #364153;
  --color-mugen-dark-blue: #213448;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
